# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3

# Virtual environment
venv/
env/

# Editor files
.vscode/
.idea/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db
